APPLICATION_WEBHOOK_URL=
CONTACT_WEBHOOK_URL=
RESEND_API_KEY=
FORM_FROM_EMAIL=Happy Healthy Wealthy <website@happyhealthywealthy.info>
FORM_RECIPIENT_EMAIL=Drmoe@happyhealthywealthy.info
CALENDLY_EVENT_URL=https://calendly.com/drmoe-happyhealthywealthy
NEXT_PUBLIC_CONTACT_EMAIL=Drmoe@happyhealthywealthy.info
NEXT_PUBLIC_YOUTUBE_URL=
NEXT_PUBLIC_APPLE_PODCASTS_URL=
NEXT_PUBLIC_SPOTIFY_URL=
